@media screen and (max-width: 768px){
    body{
        margin: 32px 16px;
    }
    .cards{
        padding: 0;
    }
    .cards-item{
        padding: 0;
        flex-direction: column;
        gap: 40px;
    }
    .card,
    .cards img{
        width: 100%;
    }
}