*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


header{
    width: 100%;
    height: 113px;
    background: #24204A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: fixed;
    top: 0;
}

.header__w-1153{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__w-1153 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 63px;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}
header h2{
    color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
}
.one-posotion{
    height: 692px;
    background: #24204A;
    padding: 180px 0 101px 0;
    box-sizing: border-box;
}
.one-posotion__w-1153{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one-posotion__w-1153 div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}
.one-posotion__w-1153 .one-position {
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    color: #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    border: none;
}

.one-posotion__w-1153 h1{
    width: 261px;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
}
.one-posotion__w-1153 p{
    width: 570px;
    color:  #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}
.one-posotion__w-1153 .button-about{
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0px 6px 20px 0px rgba(0, 255, 224, 0.20);
    border: none;
}
.one-posotion__w-1153 div:nth-child(2){
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.one-posotion__w-1153 div:nth-child(2) img{
    height: 318px;
}
.lorem-ipsum{
    height: 764px;
    background: #071341;
    padding: 50px 0 152px 0;
    box-sizing: border-box;
}
.w-1153-lorem-ipsum{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.icon div:nth-child(1){
    border-radius: 8px;
    width: 56.144px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:nth-child(1) div:nth-child(1){
    background: #FF6853;
}
.icon:nth-child(2) div:nth-child(1){
    background: #FF537C;
}
.icon:nth-child(3) div:nth-child(1){
    background: #80D2C4;
}
.icon:nth-child(4) div:nth-child(1){
    background: #3F50E7;
}
.icon:nth-child(5) div:nth-child(1){
    background: #95CB7C;
}
.icon div:nth-child(2) h4{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.icon div:nth-child(2) p{
    color:  #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
.w-1153-lorem-ipsum h2{
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
    margin: 50px 0;
}
.w-1153-lorem-ipsum>p{
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
    margin-bottom: 50px;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid  #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
.card p{
    width: 178px;
    color:  #8E88C1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
iframe{
    width: 100%;
    height: 664px;
    display: block;
}
footer{
    height: 94px;
    width: 100%;
    background: #071341;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 24px */
}